/* .chef-details{
    background-image: url('https://img.freepik.com/premium-photo/cooking-banner-kitchen-black-table-ingredients-food-top-view-free-space-your-text_187166-23621.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
/* } */
.img{
    top: 20%;
}