.login-container{
    background-image: url('https://jooinn.com/images/minimalist-black-neon-squares-background-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}