.carousel{
    background-image: url('https://flybagna.com/img/carousel/kerala%20image%203.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.chef-card-container{
  display: grid;
  grid-template-columns: 4fr 1fr;
}